@import './styles/variables.css';
@import './styles/theme.css';
@import './styles/animations.css';

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}
